body {
  font-family: $font_poppins;
  line-height: 1.5;
}

#app {
  // position: fixed;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}
.bg-dark-grey {
  background-color: $dark_grey;
}

.bg-white {
  background-color: #fff;
}

.c-white {
  color: #fff;
}

.overflow-hidden {
  overflow: hidden;
}

@include maxwidth(lg) {
  #app {
    position: relative;
  }
}
