.footer {
  height: 50px;
  display: flex;
  .inner-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    .copyright {
      font-size: 0.688rem;
    }
    .item-social {
      margin-left: 2em;
    }
  }
  &.footer-about {
    justify-content: flex-end;
    .inner-footer {
      width: 60%;
    }
  }
  &.footer-dark {
    color: #fff;
    background-color: $dark_grey;
    .bg-footer {
      width: 100%;
      background-color: $dark_grey;
      transform: translateY(-1px);
      .inner-footer {
        height: 100%;
      }
    }
  }
}

@include maxwidth(md) {
  .footer {
    .inner-footer {
      padding: 0 1rem;
      .item-social {
        margin-left: 1rem;
      }
    }
  }
}
