.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  mix-blend-mode: difference;
  z-index: 10;
  .header-logo,
  .header-nav {
    padding: 1.25rem 2rem;
  }
  .header-logo {
    .logo {
      display: inline-block;
    }
  }
  .nav-items {
    color: #fff;
    .item-link {
      padding-left: 1rem;
    }
  }
}
