.project-content {
  .project-section {
    padding: 4rem 0;
  }
  .project-header {
    min-height: 100vh;
    background-color: $dark_grey;
    color: #fff;
    .wrap-title {
      padding-top: 12rem;
      .inner-title {
        overflow: hidden;
        .title-project {
          font-size: 11vw;
          font-family: $font_gallient;
          text-transform: uppercase;
          line-height: 1;
        }
      }
    }
    .wrap-infos {
      width: 100%;
      display: flex;
      padding: 8rem 0 2rem;
      .block-info {
        width: 33.333%;
        margin-right: 6rem;
        overflow: hidden;
        .title-info {
          font-size: 0.813rem;
          font-weight: 100;
          margin-bottom: 2rem;
          border-bottom: 1px solid #fff;
          padding-bottom: 1rem;
        }
        .wrap-cta {
          .link-underline {
            color: #fff;
          }
        }
      }
    }
  }
  .project-img-full {
    padding-bottom: 4rem;
    .inner-img-full {
      width: 100%;
      overflow: hidden;
      position: relative;
      &::before {
        content: "";
        display: block;
        padding-top: 55%;
      }
    }
  }
  .project-description {
    .inner-txt {
      padding: 0 5rem;
      font-size: 1.5rem;
      font-weight: 100;
      strong {
        font-weight: bold;
        font-family: $font_gallient;
        text-transform: uppercase;
      }
      p {
        margin-bottom: 1rem;
      }
    }
  }
  .project-charte {
    .wrap-img-charte {
      display: flex;
      flex-wrap: wrap;
      .block-img {
        width: 50%;
        padding-left: 1rem;
        padding-right: 1rem;
        &:nth-child(odd) {
          padding-top: 3rem;
        }
      }
    }
  }
  .project-template-mobile {
    background-color: $dark_grey;
    padding-bottom: 0;
    .wrap-img-mobile {
      height: 600px;
      overflow: hidden;
      max-width: 800px;
      margin: 0 auto;
    }
  }
}
