.project-content {
  .project-section {
    padding: 4rem 0;
  }
  .project-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: $dark_grey;
    color: #fff;
    .wrap-title {
      padding-top: 12rem;
      .inner-title {
        overflow: hidden;
        .title-project {
          font-size: 12rem;
          font-family: $font_gallient;
          text-transform: uppercase;
          line-height: 1;
        }
      }
    }
    .wrap-infos {
      display: flex;
      margin-top: auto;
      padding-bottom: 2rem;
      .block-info {
        width: 33.333%;
        margin-right: 6rem;
        overflow: hidden;
        .title-info {
          font-size: 0.813rem;
          font-weight: 100;
          margin-bottom: 2rem;
          border-bottom: 1px solid #fff;
          padding-bottom: 1rem;
        }
        .wrap-cta {
          .link-underline {
            color: #fff;
          }
        }
      }
    }
  }
  .project-img-full {
    padding-bottom: 4rem;
    .inner-img-full {
      width: 100%;
      overflow: hidden;
      position: relative;
      &::before {
        content: "";
        display: block;
        padding-top: 55%;
      }
    }
  }
  .project-description {
    .wrap-description {
      display: flex;
      justify-content: flex-end;
    }
    .inner-txt {
      padding: 5rem;
      font-size: 1.5rem;
      font-weight: 100;
      max-width: 550px;
      h2 {
        padding-bottom: 2rem;
        font-weight: 700;
        font-size: 3rem;
      }
      strong {
        font-weight: bold;
        font-family: $font_gallient;
        text-transform: uppercase;
      }
      p {
        margin-bottom: 1rem;
      }
    }
  }
  .project-charte {
    .wrap-charte {
      display: flex;
      .inner-txt {
        width: 35%;
        padding-top: 3rem;
        padding-right: 3rem;
        h2 {
          padding-bottom: 2rem;
          font-weight: 700;
          font-size: 3rem;
        }
        p {
          font-size: 1.5rem;
          font-weight: 100;
        }
      }
      .wrap-img-charte {
        width: 65%;
      }
    }
    .wrap-img-charte {
      display: flex;
      flex-wrap: wrap;
      .block-img {
        width: 50%;
        padding-left: 1rem;
        padding-right: 1rem;
        &:nth-child(odd) {
          padding-top: 3rem;
        }
      }
    }
  }
  .project-template-mobile {
    padding-bottom: 0;
    .inner-template-mobile {
      position: relative;
      background-color: $dark_grey;
      min-height: 100vh;
      overflow: hidden;
    }
    .wrap-img-mobile {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 600px;
      max-width: 800px;
      margin: 0 auto;
    }
  }

  .project-template-page {
    .wrap-img-template-page {
      .swiper {
        height: 550px;
        .inner-img {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
        }
      }
    }
  }

  .project-text {
    .wrap-text {
      display: flex;
      justify-content: flex-start;
      .inner-text {
        padding: 0 5rem;
        font-size: 1.5rem;
        font-weight: 100;
        max-width: 550px;
        h2 {
          padding-bottom: 2rem;
          font-weight: 700;
          font-size: 3rem;
        }
      }
    }
  }

  .project-link {
    padding-bottom: 12rem;
    text-align: center;
    font-size: 3rem;
    font-family: $font_nunito;
    font-weight: 700;
  }
  .project-rounded {
    background: #fff;
    width: 100%;
    position: relative;
    height: 0;
    display: block;
    z-index: 2;
    .rounded-top {
      top: 0;
      position: relative;
      transform: translateY(-1px);
      z-index: 2;
      height: 10vh;
      will-change: height;
      width: 100%;
      overflow: hidden;
      .rounded {
        width: 150%;
        display: block;
        position: absolute;
        background: #fff;
        height: 750%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -86.666%);
        z-index: 1;
      }
    }
  }
  .project-items {
    height: calc(100vh - 50px);
    overflow: hidden;
    position: relative;
    color: #fff;
    .inner-items {
      padding-top: 12rem;
      .wrap-hover-reveal {
        padding: 6rem 0;
        text-align: center;
      }
      .wrap-next-project {
        position: relative;
        z-index: 2;
        padding-bottom: 2rem;
        border-bottom: 1px solid $ultralight_grey;
        margin-bottom: 2rem;
        .title-next-project {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $ultralight_grey;
          font-size: 1.5rem;
          font-weight: 300;
          .link-arrow {
            display: inline-flex;
            padding-left: 1rem;
          }
        }
      }
      .link-nav-project {
        position: relative;
        font-family: $font_gallient;
        font-size: 6rem;
        line-height: 1;
        text-transform: uppercase;
        z-index: 2;
      }
    }
  }
}

@include maxwidth(lg) {
  .project-content {
    .project-section {
      padding: 3rem 0;
    }
    .project-header {
      height: 100vh;
      min-height: 1vh;
      .wrap-title {
        padding-top: 10rem;
        .inner-title .title-project {
          font-size: 5rem;
        }
      }
      .wrap-infos {
        flex-wrap: wrap;
        .block-info {
          width: 100%;
          margin-bottom: 2rem;
          .title-info {
            margin-bottom: 1rem;
          }
        }
      }
    }
    .project-description .inner-txt {
      padding: 5rem 0;
    }
    .project-img-full {
      padding-bottom: 0;
    }
    .project-charte {
      .wrap-charte {
        flex-wrap: wrap;
        .inner-txt {
          width: 100%;
          padding-right: 0;
          padding-bottom: 3rem;
        }
        .wrap-img-charte {
          width: 100%;
        }
      }
      .wrap-img-charte .block-img {
        width: 100%;
        padding-bottom: 2rem;
        &:nth-child(odd) {
          padding-top: 0;
        }
      }
    }
    .project-template-mobile {
      padding-top: 0;
      .inner-template-mobile {
        display: flex;
        align-items: center;
      }
      .wrap-img-mobile {
        position: relative;
        height: auto;
      }
    }
    .project-template-desktop {
      padding: 0;
    }
    .project-text .wrap-text .inner-text {
      padding: 0;
    }
    .project-rounded .rounded-top {
      height: 5vh;
      transition: height 0.2s linear;
    }
    .project-items {
      display: flex;
      align-items: center;
      .inner-items {
        padding-top: 0;
        .wrap-hover-reveal {
          width: 100%;
          padding: 0;
          text-align: left;
        }
        .link-nav-project {
          font-size: 5rem;
        }
        .wrap-next-project .title-next-project {
          justify-content: flex-start;
        }
      }
    }
  }
}
