.projects {
  height: calc(100vh - 50px);
  &.projects-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
  }
}

.projects-show {
  .projects-home {
    opacity: 1;
    transition: opacity 1s cubic-bezier(0.85, 0.01, 0.4, 1) 1s;
    visibility: visible;
  }
}

.wrap-slider {
  display: flex;
  align-items: center;
  height: 100%;
  user-select: none;
  .swiper {
    width: 100%;
    height: calc(100% - 3rem);
    margin-top: 3rem;
    .swiper-wrapper {
      align-items: center;
    }
    .swiper-slide {
      position: relative;
      transform: scale(0.75) translate(0, 0);
      transition: 0.5s transform ease;
      height: 500px;
      a {
        display: block;
        height: 100%;
        pointer-events: none;
      }
      .inner-title {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 5rem;
        text-transform: uppercase;
        opacity: 0;
        white-space: nowrap;
        color: #fff;
        overflow: hidden;
        z-index: 2;
        transition: 0.5s transform ease,
          opacity 0.45s cubic-bezier(0.5, 0, 0, 1);
        transform: scale(1);
        &.title-white {
          color: #fff;
          overflow: hidden;
          z-index: 2;
        }
        .name {
          transform: scale(1);
          transition: 0.5s transform ease;
        }
      }
      .outer-title {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 5rem;
        text-transform: uppercase;
        opacity: 0;
        white-space: nowrap;
        transform: scale(1);
        transition: 0.5s transform ease,
          opacity 0.45s cubic-bezier(0.5, 0, 0, 1);
        .name {
          transform: scale(1);
          transition: 0.5s transform ease;
        }
      }
      &.swiper-slide-active {
        transform: scale(1) translate(0px, 0px);
        transition: 0.5s transform ease;
        a {
          pointer-events: initial;
          &:hover,
          &:focus {
            .inner-img {
              transform: scale(0.9075);
              img {
                transform: scale(1.2);
                transition: 0.5s transform ease;
              }
            }
            .inner-title {
              transform: scale(0.9075);
              .name {
                transform: scale(1.1);
              }
            }
          }
        }
        .inner-title,
        .outer-title {
          opacity: 1;
        }
      }
      .inner-img {
        position: relative;
        overflow: hidden;
        height: 100%;
        transform: scale(1);
        transition: 0.5s transform ease;
        img {
          transform: scale(1);
          transition: 0.5s transform ease;
        }
      }
    }
    .swiper-slide-next {
      transform: scale(0.75) translate(17%, 0px);
    }
    .swiper-slide-prev {
      transform: scale(0.75) translate(-17%, 0px);
    }
  }
  .slider-progress-bar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 2rem;
    .progress-bar {
      width: 50%;
      height: 1px;
      position: relative;
      background-color: #dddddd;
      .swiper-pagination-progressbar-fill {
        background: $dark_grey;
      }
    }
    .progress-item-first,
    .progress-item-last {
      padding: 0 1rem;
      width: 53px;
      overflow: hidden;
    }
    .number-item {
      position: relative;
      .number {
        position: absolute;
        transform: translateY(100%);
        transition: transform 0.3s ease-in-out;
        width: 10px;
        text-align: center;
        &.active {
          transform: translateY(0);
        }
      }
    }
  }
}

@include maxwidth(md) {
  .wrap-slider .swiper .swiper-slide {
    .outer-title,
    .inner-title {
      font-size: 1.75rem;
    }
  }
}
