.section-works {
  .wrap-works-v2 {
    padding-top: 5rem;
    .wrap-canvas {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 5rem 0;
      .content-work {
        position: relative;
        .link-work {
          display: block;
          height: 100%;
          .wrap-title {
            overflow: visible;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            white-space: nowrap;
            .title-work {
              text-transform: uppercase;
              font-family: $font_gallient;
              font-size: 6rem;
            }
          }
        }
      }
    }
  }
}
