.section-works {
  .wrap-title {
    overflow: hidden;
    text-align: center;
    .title {
      text-transform: uppercase;
      font-family: $font_gallient;
      font-size: 6rem;
      padding-top: 5rem;
    }
  }
  .wrap-subtitle {
    overflow: hidden;
    text-align: center;
    .subtitle {
      font-size: 1.8rem;
      font-weight: 200;
    }
  }
  .wrap-works {
    display: flex;
    padding-top: 5rem;
    flex-wrap: wrap;
    min-height: 100vh;
    .inner-work {
      display: flex;
      width: 100%;
      // margin-bottom: 3rem;
      justify-content: center;
      align-items: center;
      height: 100vh;
      position: relative;
      .img-work {
        width: 380px;
        height: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      .link-work {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 570px;
        z-index: 1;
        .wrap-title {
          // overflow: visible;
          position: absolute;
          z-index: 1;
          white-space: nowrap;
          .title-work {
            text-transform: uppercase;
            font-family: $font_gallient;
            font-size: 6rem;
          }
        }
        canvas {
          width: 380px !important;
          height: 570px !important;
          display: block;
          position: relative;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .col-work-infos {
      width: 60%;
      // &.is-hide {
      //   display: none;
      // }
    }
    .col-work {
      width: 40%;

      padding-bottom: 3rem;
      padding-top: 3rem;
    }
    .wrap-img {
      // padding: 3rem;

      // width: 380px;
      // height: 500px;
      // transform: scale(0.9075);
      margin: 0 auto;
      max-width: 411px;
      &.is-full {
        // padding: 0;
      }
      .inner-img {
        overflow: hidden;

        height: 100%;
        .link-img-work {
          display: block;

          height: 100%;
          position: relative;
        }
      }
    }
    // .wrap-infos {
    //   padding: 3rem;
    //   .title-work {
    //     text-transform: uppercase;
    //     font-family: $font_gallient;
    //     font-size: 6rem;
    //     line-height: 1;
    //     padding-top: 3rem;
    //     padding-bottom: 2rem;
    //   }
    //   .type-work {
    //     font-size: 1.25rem;
    //     font-weight: 200;
    //     border-bottom: 1px solid #fff;
    //     padding-bottom: 0.5rem;
    //     margin-bottom: 1rem;
    //   }
    // }
  }
}

@include maxwidth(md) {
  .section-works {
    .wrap-works {
      padding-top: 0;
      .inner-work {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin-bottom: 0;
        .link-work {
          touch-action: auto;
          canvas {
            width: 100% !important;
          }
          .wrap-title {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0;
            justify-content: center;
            transform: translateX(0);
          }
        }
        .link-work .wrap-title .title-work {
          font-size: 2rem;
        }
      }
      .col-work-infos,
      .col-work {
        width: 100%;
      }
      .wrap-infos {
        padding: 0 3rem;
        .title-work {
          font-size: 3rem;
          padding-top: 0;
        }
      }
      .wrap-img {
        padding: 3rem 0;
      }
    }
    .wrap-title,
    .wrap-subtitle {
      padding: 0 1rem;
    }
    .wrap-title .title {
      padding-top: 0;
      font-size: 3rem;
      line-height: 1;
      margin-bottom: 1.5rem;
    }
    .wrap-subtitle .subtitle {
      font-size: 1rem;
    }
  }
}
