.about {
  .title-about {
    padding-top: 8rem;
    .title {
      font-size: 6rem;
      font-family: $font_gallient;
      line-height: 1;
      text-transform: uppercase;
      overflow: hidden;
    }
  }
}
