.contact {
  height: calc(100vh - 50px);
  color: #fff;
  .title-contact {
    padding-top: 8rem;
    .title {
      font-size: 10rem;
      font-family: $font_gallient;
      line-height: 1;
      text-transform: uppercase;
      overflow: hidden;
      position: relative;
      z-index: 2;
      .wrapper-word .char {
        visibility: hidden;
      }
    }
  }
  .section-hero {
    position: relative;
    padding-bottom: 0;
  }
  .section-email {
    padding: 5rem 0 0;
    .contact-email {
      font-size: 3rem;
      font-family: $font_gallient;
      .wrap-cta {
        overflow: hidden;
        transform: translateX(-24px);
        transition: 0.2s transform ease-in-out;
        .link-arrow {
          opacity: 0;
          margin-left: 0;
          transform: translateX(-100%);
          height: auto;
          transition: 0.2s transform ease-in-out, opacity 0.3s ease-in-out;
        }
        .link-white {
          margin-left: 0;
          transition: 0.2s margin-left ease-in-out;
          color: #fff;
        }
        &:hover {
          transform: translateX(0);
          .link-arrow {
            opacity: 1;
            transform: translateX(0);
          }
          .link-white {
            margin-left: 10px;
          }
        }
      }
    }
    .contact-address {
      padding-top: 3rem;
      .title {
        padding-bottom: 1rem;
      }
    }
  }
}

@include maxwidth(lg) {
  .contact {
    height: auto;
    .section-hero {
      height: 100vh;
      display: flex;
      align-items: center;
      .hover-reveal {
        display: none;
      }
    }
    .title-contact {
      padding-top: 0;
      .title {
        font-size: 6rem;
        .wrapper-word {
          &:nth-child(2) {
            display: none;
          }
          &:nth-child(3) {
            font-weight: 800;
            font-family: $font_nunito;
            font-size: 6rem;
          }
          &:last-child {
            font-weight: 100;
            font-family: $font_nunito;
            font-size: 3rem;
            padding-top: 1rem;
          }
        }
      }
    }
    .section-email {
      padding-top: 0;
      padding-bottom: 2rem;
      .contact-email {
        font-size: 1.5rem;
      }
    }
  }
}
