.home-works {
  .wrap-title {
    overflow: hidden;
    text-align: center;
    .title {
      text-transform: uppercase;
      font-family: $font_gallient;
      font-size: 6rem;
      padding-top: 3rem;
    }
  }
  .wrap-subtitle {
    overflow: hidden;
    text-align: center;
    .subtitle {
      font-size: 1.8rem;
      font-weight: 200;
    }
  }
  .wrap-works {
    display: flex;
    padding-top: 5rem;
    flex-wrap: wrap;
    min-height: 100vh;
    .inner-work {
      display: flex;
      width: 100%;
    }
    .col-work-infos {
      width: 60%;
    }
    .col-work {
      width: 40%;
    }
    .wrap-img {
      padding: 3rem;
      .inner-img {
        overflow: hidden;
        .link-img-work {
          display: block;
          transition: 0.5s transform cubic-bezier(0.5, 0, 0, 1);
          &:hover {
            transform: scale(1.2) !important;
          }
        }
      }
    }
    .wrap-infos {
      padding: 3rem;
      .title-work {
        text-transform: uppercase;
        font-family: $font_gallient;
        font-size: 6rem;
        line-height: 1;
        padding-top: 3rem;
      }
    }
  }
}

.home-contact {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  .link-mail {
    padding-top: 2rem;
    display: block;
    font-family: $font_gallient;
    font-size: 6rem;
    line-height: 1;
    text-transform: uppercase;
  }
  .wrap-mail,
  .wrap-title {
    overflow: hidden;
  }
  .wrap-title {
    padding-top: 3rem;
    .title-contact {
      display: block;
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 0;
    }
  }
}

.light-mode {
  .homepage {
    transition: color 0.7s ease-in-out;
    &.bg-dark {
      color: #fff !important;
      .intro .intro-enter .arrow-enter svg {
        transition: fill 0.7s ease-in-out;
        fill: #fff;
      }
    }
  }
}
